<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Some Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href="css/style.css" type="text/css" rel="stylesheet">-->
    <!--<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>-->
    <!--<script type="text/javascript" src="js/jquery-ui.js"></script>-->
    <!--<script type="text/javascript" src="js/myscripts.js"></script>-->

    <!--{if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <h1>{{pageTitle}}</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</header>